.footer {
    height: auto;
    padding: 2rem;
    color: $color-grey-dark;
    background-color: $color-white;

    &__box {
        max-width: 85.5rem;
        min-width: 30rem;
        margin: 0 auto;

        &--content {
            display: flex;

            @include mobile {
                flex-direction: column;
            }
        }
    }

    &__column {
        flex: 1;
    }
}

.footer-heading {
    font-weight: 700;
}

.footer-link {
    color: $color-primary-0;
}