.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
    padding: 1rem 4rem;
    color: $color-white;
    background-color: $color-primary-0;
    box-shadow: $box-shadow;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}