.navigation-bar {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
    padding: 1rem 2rem;
    color: $color-white;
    background-color: $color-primary-0;
    box-shadow: $box-shadow;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    z-index: 300;

    &__placeholder-box {
        width: 18rem;

        &--mini {
            display: flex;
            width: auto;
        }
    }

    &__mount {
        position: relative;
    }

    &__badge {
        position: absolute;
        display: block;
        top: -1rem;
        right: -1rem;
        height: 2rem;
        width: 2rem;
        line-height: 2.25rem;
        border-radius: 25%;
        background-color: $color-red;
        color: $color-white;
        font-size: 1rem;
        font-weight: 300;
        text-align: center;
    }
}

.navigation-link {
    color: $color-white;
    
    &:visited {
        color: $color-white;
    }
}

.navigation-link-dark {
    color: $color-primary-0;
    
    &:visited {
        color: $color-primary-0;
    }
}