.inbox-people {
    height: auto;
    width: 100%;

    &__box {
        height: auto;
        background-color: $color-white;
        border: 1px solid $color-grey;
        border-radius: 0.5rem;
        box-shadow: $box-shadow;
        overflow: hidden;
    }
}

.inbox-people-tab {
    height: 10rem;
    width: 100%;
    padding: 2rem;
    background-color: $color-white;
}