.inbox-person {
    display: block;
    height: auto;
    width: 100%;
    padding: 2rem;
    cursor: pointer;

    &__unseen {
        display: block;
        height: 2.25rem;
        width: 2.25rem;
        line-height: 2.25rem;
        border-radius: 25%;
        background-color: $color-red;
        color: $color-white;
        text-align: center;
    }
}