.inbox-people {
    height: 100%;
    width: 100%;

    &__box {
        display: block;
        height: auto;
        max-height: 60rem;
        border: 1px solid $color-grey;
        border-radius: 0.5rem;
        box-shadow: $box-shadow;
        overflow: hidden;

        &:hover {
            overflow: scroll;
        }
    }
}