.inbox-chat {
    height: auto;
    width: 100%;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 85vh;
        width: 100%;
        background-color: $color-white;
        border: 1px solid $color-grey;
        border-radius: 0.5rem;
        box-shadow: $box-shadow;
        overflow: hidden;
    }

    &__top {
        width: 100%;
        padding: 2rem;
        background-color: $color-primary-0;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        color: $color-white;
        text-align: center;
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        word-wrap: break-word;
    }

    &__bottom {
        height: auto;
        width: 100%;
        padding: 2rem;
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-top: 1px solid $color-grey;
    }

    &__image-area {
        height: auto;
        width: 100%;
        flex-wrap: wrap;
    }
}

.inbox-chat-list {
    height: 100%;
    padding: 2rem 2rem 0 2rem;
    overflow: scroll;

    &__scrollholder {
        height: 2rem;
        width: 100%;
        background-color: transparent;
    }
}

.inbox-chat-textarea {
    height: 5rem;
    max-height: 10rem;
    flex: 1;
}

.inbox-message {
    display: inline-block;
    height: auto;
    padding: 1rem 2rem;
    border-radius: 2rem;
    animation: fadeIn 0.2s;

    &__image {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: $box-shadow;
        animation: fadeIn 0.2s;
    }

    &__image-placeholder {
        height: 4rem;
        width: 4rem;
    }
}

.inbox-photo-upload {
    &__label {
        cursor: pointer;
    }

    &__image {
        height: 10rem;
        width: 14rem;
        border: 1px solid $color-grey;
        border-radius: 2rem;
        object-fit: cover;
        box-shadow: $box-shadow;
        animation: fadeIn 0.2s;
        transition: 0.2s;
    }
}