.inbox-chat {
    height: auto;
    width: 100%;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 85vh;
        width: 100%;
        background-color: $color-white;
        border: 1px solid $color-grey;
        border-radius: 0.5rem;
        box-shadow: $box-shadow;
        overflow: hidden;
    }

    &__top {
        width: 100%;
        padding: 2rem;
        background-color: $color-primary-0;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        color: $color-white;
    }

    &__bottom {
        width: 100%;
        padding: 2rem;
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-top: 1px solid $color-grey;
    }
}

.inbox-chat-textarea {
    height: 5rem;
    max-height: 10rem;
    flex: 1;
}