.want {
    height: auto;
    width: 100%;
    min-width: 40rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    background-color: $color-white;
    overflow-wrap: break-word;

    &--feed {
        animation: fadeIn 1s;
    }

    &__title {
        color: $color-grey-dark;
        font-weight: 400;
    }

    &__pay {
        color: $color-primary-0;
        font-weight: 700;
    }

    &__category {
        display: inline-block;
        height: 5rem;
        padding: 1.5rem 2rem;
        border-radius: 0.5rem;
        color: $color-white;
        background-color: $color-primary-1;
        box-shadow: $box-shadow;
        font-size: 1.5rem;
        font-weight: 300;
        outline: none;
        transition: all 0.2s;
    }

    &__image {
        height: 5rem;
        width: 5rem;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid $color-grey;
        box-shadow: $box-shadow;
    }

    &__counter-button {
        margin-left: 2rem;
    }
}

.want-text {
    color: $color-grey-dark;
}

.want-placeholder {
    height: 30rem;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    background-color: rgba($color-white, 0.2);
    animation: fadeIn 1s;
}

.want-link {
    color: $color-primary-0;
}

.want-input {
    height: 5rem;
    max-height: 10rem;
    &-textarea {
        flex: 1
    }
}