.want {
    height: auto;
    width: 100%;
    min-width: 50rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    background-color: $color-white;

    &--feed {
        animation: fadeIn 1s;
    }

    &__title {
        margin: 0;
        color: $color-grey-dark;
    }

    &__pay {
        color: $color-primary-0;
        font-weight: 700;
    }

    &__firstName {
        display: inline-block;
        margin: 0 0 0 0;
        color: $color-grey-dark;
    }

    &__image {
        height: 5rem;
        width: 5rem;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid $color-grey;
        box-shadow: $box-shadow;
    }

    &__timestamp {
        margin: 0;
        color: $color-grey-dark;
    }

    &__description {
        margin-top: 1rem;
        font-weight: 300;
        color: $color-grey-dark;
    }

    &__counter-button {
        margin-left: 2rem;
    }
}

.want-placeholder {
    height: 30rem;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    background-color: rgba($color-white, 0.2);
    animation: fadeIn 1s;
}

.want-copied {
    font-weight: 300;
    color: $color-primary-0;
    animation: fadeOutLeft 1s;
}