.want {
    height: auto;
    width: 100%;
    min-width: 50rem;
    // margin-top: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid $color-grey;
    box-shadow: $box-shadow;
    background-color: $color-white;

    &__title {
        margin: 0;
        color: $color-grey-dark;
    }

    &__pay {
        color: $color-primary-0;
        font-weight: 700;
    }

    &__firstName {
        display: inline-block;
        margin: 0 0.5rem 0 0;
        color: $color-grey-dark;
    }

    &__image {
        height: 5rem;
        width: 5rem;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid $color-grey;
        box-shadow: $box-shadow;
    }

    &__timestamp {
        margin: 0;
        color: $color-grey-dark;
    }

    &__description {
        margin-top: 1rem;
        font-weight: 300;
        color: $color-grey-dark;
    }

    &__counter-button {
        margin-left: 2rem;
    }
}