.filter {
    position: relative;
    width: 100%;
}

.filter-search {
    width: 100%;
}

.filter-button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-75%, -50%);
}

.ais-Hits-list {
    list-style: none;
    padding: 0;
}

.ais-Hits-item {
    height: auto;
    width: 100%;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    background-color: $color-white;
    overflow-wrap: break-word;
}

.ais-Highlight-highlighted {
    background-color: $color-primary-0;
    color: $color-white;
    font-style: normal;
}

.ais-Highlight-nonHighlighted {
    color: $color-grey-dark;
    font-style: normal;
}


