.information-jumbotron {
    position: relative;
    height: 75rem;
    width: 100%;
    box-shadow: $box-shadow;

    &__box {
        height: auto;
        width: 50rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $color-white;
    }
}

.information-horizontal-image {
    height: 25rem;
    width: 100%;
    box-shadow: $box-shadow;
}

.information-text {
    color: $color-grey-dark;
}

.information-section {
    height: auto;
    width: 100%;
    padding: 2rem;
}

.information-box {
    height: auto;
    width: 50rem;
    margin: 0 auto;
}