// GENERIC WRAPPERS

.wrapper-flex {
    display: flex;

    &--around {
        justify-content: space-around;
    }

    &--column {
        flex-direction: column;
    }

    &--top {
        align-items: start;
    }

    &--bottom {
        align-items: flex-end;
    }
    
    &--center {
        align-items: center;
    }
}

.wrapper-flex-spaced {
    display: flex;
    justify-content: space-between;

    &--column {
        flex-direction: column;
    }

    &--top {
        align-items: start;
    }

    &--bottom {
        align-items: flex-end;
    }

    &--center {
        align-items: center;
    }

    &--flex1 {
        flex: 1;
    }
}

.content-heading {
    color: $color-grey-dark;
}

// PAGE WRAPPERS

.home-content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 2rem;

    &__left {
        min-width: 36rem;
        padding: 1rem;
    }

    &__middle {
        min-width: 22.5rem;
        width: 62.5rem;
        padding: 1rem;
    }

    &__right {
        min-width: 36rem;
        padding: 1rem;
    }
}

.inbox-content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 2rem;

    &__left {
        width: 36rem;
        min-width: 30rem;
        padding: 1rem;
    }

    &__right {
        width: 72rem;
        min-width: 60rem;
        padding: 1rem;
    }
}

.profile-content {
    width: 100%;
    margin: 0 auto;

    &__left {

    }

    &__middle {
        margin: 0 auto;
        width: 98rem;
        padding: 1rem;
    }

    &__right {

    }
}

.landing-content {
    width: 100%;
    flex: 1;
    display: flex;

    &__left {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        padding: 6rem;
        background-color: $color-white;

        @include mobile {
            padding: 4rem;
        }
    }

    &__right {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        padding: 6rem;
        background-color: $color-primary-0;
    }
}

.want-content {
    &__middle {
        margin: 0 auto;
        min-width: 22.5rem;
        width: 62.5rem;
        padding: 1rem;
    }
}