// GENERIC WRAPPERS

.wrapper-flex {
    display: flex;

    &--top {
        align-items: flex-start;
    }
    
    &--center {
        align-items: center;
    }
}

.wrapper-flex-spaced {
    display: flex;
    justify-content: space-between;

    &--top {
        align-items: flex-start;
    }

    &--center {
        align-items: center;
    }
}

// PAGE WRAPPERS

.home-content {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    &__heading {
        color: $color-grey-dark;
    }

    &__left {
        min-width: 36rem;
        padding: 1rem;
    }

    &__middle {
        width: 75rem;
        padding: 1rem;
    }

    &__right {
        min-width: 36rem;
        padding: 1rem;
    }
}

.login-content {
    display: inline-block;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid $color-grey;
    background-color: $color-white;
    box-shadow: $box-shadow;
}