// GENERIC WRAPPERS

.wrapper-flex {
    display: flex;

    &--top {
        align-items: flex-start;
    }
    
    &--center {
        align-items: center;
    }
}

.wrapper-flex-spaced {
    display: flex;
    justify-content: space-between;

    &--top {
        align-items: flex-start;
    }

    &--center {
        align-items: center;
    }

    &--flex1 {
        flex: 1;
    }
}

// PAGE WRAPPERS

.home-content {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    &__left {
        min-width: 36rem;
        padding: 1rem;
    }

    &__middle {
        width: 75rem;
        padding: 1rem;
    }

    &__right {
        min-width: 36rem;
        padding: 1rem;
    }
}

.content-heading {
    color: $color-grey-dark;
}

// .login-content {
//     display: inline-block;
//     padding: 2rem;
//     border-radius: 0.5rem;
//     border: 1px solid $color-grey;
//     background-color: $color-white;
//     box-shadow: $box-shadow;
// }