.profile-picture {
    &--mini {
        height: 3rem;
        width: 3rem;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid $color-white;
        box-shadow: $box-shadow;
    }
}