.profile-picture {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid $color-grey;

    &--mini {
        height: 3.5rem;
        width: 3.5rem;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: $box-shadow;
    }
}