// MIXINS

@import './mixins/mixins';

// BASE

@import './base/base';
@import './base/variables';
@import './base/typography';
@import './base/utilities';

// ANIMATIONS

@import './animations/animations';

// UTILITIES

@import './utilities/utilities';

// GENERIC

@import './components/generic/button';
@import './components/generic/hr';
@import './components/generic/input';
@import './components/generic/label';
@import './components/generic/link';
@import './components/generic/select';
@import './components/generic/textarea';

// ICONS

@import './icons/icons';

// COMPONENTS

// COMPONENTS/PAGES

@import './components/pages/landing-page';
@import './components/pages/home-page';
@import './components/pages/login-page';
@import './components/pages/signup-page';
@import './components/pages/profile-page';
@import './components/pages/setup-page';
@import './components/pages/settings-page';
@import './components/pages/information-page';
@import './components/pages/inbox-page';

// COMPONENTS/WRAPPERS

@import './components/wrappers/wrappers';

// COMPONENTS/NAVIGATION

@import './components/navigation/navigation';

// COMPONENTS/FOOTER

@import './components/footer/footer';

// COMPONENTS/CHAT
@import './components/chat/chat-widget';
@import './components/chat/chat-renegotiation';
@import './components/chat/chat-box';
@import './components/chat/chat-block';

// COMPONENTS/POST

@import './components/post/post';

// COMPONENTS/FILTER

@import './components/filter/filter';

// COMPONENTS/SORT

@import './components/sort/sort';

// COMPONENTS/WANT

@import './components/want/want';

// COMPONENTS/CURRENT

@import './components/current/current-wants';
@import './components/current/current-fulfillments';

// COMPONENTS/PROFILE

@import './components/profile/profile-picture';
@import './components/profile/profile-reviews';
@import './components/profile/profile-statistics';
@import './components/profile/profile-summary';

// COMPONENTS/INBOX

@import './components/inbox/inbox-chat';
@import './components/inbox/inbox-people';

// COMPONENTS/MODAL

@import './components/modal/modal';
@import './components/modal/accept-modal';
@import './components/modal/details-modal';
@import './components/modal/settings-payment-modal';

// COMPONENTS/LOGIN

@import './components/login/login';

// COMPONENTS/SIGNUP

@import './components/signup/signup';

// COMPONENTS/SETUP

@import './components/setup/setup';

// COMPONENTS/SETTINGS

@import './components/settings/settings';
@import './components/settings/settings-preferences';
@import './components/settings/settings-edit-profile';
@import './components/settings/settings-payment';

// COMPONENTS/NOTIFICATIONS

@import './components/notifications/notification-box';
@import './components/notifications/notification-tab';

// COMPONENTS/DROPDOWNS

@import './components/dropdowns/profile-dropdown';

// COMPONENTS/INFORMATION

@import './components/information/information';