.post {
    position: fixed;
    width: 34rem;
}

.post-box {
    width: 100%;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid $color-grey;
    box-shadow: $box-shadow;
    background-color: $color-white;
}

.post-input {
    width: 100%;
}

.post-textarea {
    height: 24rem;
    width: 100%;
    transition: all 0.2s;
}