@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(8.5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-8.5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInCenterFixed {
    0% {
        opacity: 0;
        transform: translate(-50%, -40%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translate(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-8.5rem);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translate(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-1rem);
    }
}