.ReactModal__Content {
    opacity: 0;
}
  
.ReactModal__Content--after-open {
    opacity: 1;
    transition: opacity 150ms;
}
  
.ReactModal__Content--before-close {
    opacity: 0;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color-black, 0.6);
    z-index: 2000;
    animation: fadeIn 0.5s;
}

.modal {    
    &__description {
        font-weight: 300;
        color: $color-grey-dark;
    }
}