.settings-payment-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 73rem;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    background-color: $color-white;
    box-shadow: $box-shadow;
    outline: none;
    z-index: 2100;
    animation: fadeInCenterFixed 0.5s;

    &__box {
        padding: 2rem;
        border: 1px solid $color-grey;
        border-radius: 0.5rem;
    }

    &__half-box {
        width: 50%;
    }
}