.post-widget {
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content:center;
    align-content:center;
    border-radius: 50%;
    border: 2px solid $color-primary-0;
    background-color: $color-white;
    box-shadow: $box-shadow;
    transition: background-color 0.2s;
    z-index: 10;
}