.settings-payment {
    &__card-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 20rem;
        width: 20rem;
        padding: 2rem;
        border: 1px solid $color-grey;
        border-radius: 0.5rem;
        outline: none;
        color: $color-grey-dark;
        font-weight: 300;
        font-size: 1.5rem;

        &__detail {
            width: 100%;
        }
    }

    &__add-card-box {
        height: 20rem;
        width: 20rem;
        margin: 0;
        border: 1px solid $color-grey;
        border-radius: 0.5rem;
        outline: none;
        color: $color-grey-dark;
        font-weight: 300;
        font-size: 1.5rem;

        &:active {
            border: 1px solid $color-primary-0;
            color: $color-primary-0;
        }
    }
}