// MAJOR BUTTONS

.button {
    display: inline-block;
    height: 5rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    border: 1px solid $color-grey;
    box-shadow: $box-shadow;
    color: $color-grey-dark;
    font-size: 1.5rem;
    font-weight: 300;
    outline: none;
    transition: all 0.2s;

    &:active {
        border: 1px solid $color-primary-0;
    }
}

// SHADED BUTTONS

.button-shaded {
    display: inline-block;
    height: 5rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    border: 1px solid $color-primary-0;
    box-shadow: $box-shadow;
    color: $color-white;
    background-color: $color-primary-0;
    font-size: 1.5rem;
    font-weight: 300;
    outline: none;
    transition: all 0.2s;

    &:hover {
        border: 1px solid $color-primary-2;
        background-color: $color-primary-2;
    }

    &:active {
        border: 1px solid $color-primary-3;
        background-color: $color-primary-3;
    }
}

// LINK BUTTONS

.button-simple {
    display: block;
    padding: 0;
    color: $color-primary-0;
    border: none;
    background-color: $color-white;
    font-size: 1.5rem;
    font-weight: 300;
    outline: none;
    transition: all 0.2s;

    &:hover {
        color: $color-primary-3;
    }

    &:active {
        color: $color-primary-3;
    }
}

// ICON-EMBEDDED BUTTONS

.button-icon {
    display: inline-block;
    background-color: transparent;
    border: none;
    outline: none;

    &:hover {
        .icon-minimize,
        .icon-dollar,
        .icon-share,
        .icon-ellipsis-h,
        .icon-close {
            color: $color-primary-2;
        }

        .icon-notification {
            color: $color-grey-light;
        }

        .icon-facebook {
            color: $color-facebook-1;
        }

        .icon-google {
            color: $color-google-1;
        }
        
        .icon-linkedin {
            color: $color-linkedin-1;
        }
    }

    &:active {
        .icon-minimize,
        .icon-dollar,
        .icon-share,
        .icon-ellipsis-h,
        .icon-close {
            color: $color-primary-3;
        }

        .icon-notification {
            color: $color-grey;
        }

        .icon-facebook {
            color: $color-facebook-2;
        }

        .icon-google {
            color: $color-google-2;
        }

        .icon-linkedin {
            color: $color-linkedin-2;
        }
    }
}