.link {
    text-decoration: none;
    color: $color-primary-0;
    cursor: pointer;

    &:hover {
        .icon-facebook {
            color: $color-facebook-1;

            &--white {
                color: $color-white;
            }
        }

        .icon-instagram {
            color: $color-instagram-1;

            &--white {
                color: $color-white;
            }
        }
    }
}
