.profile-dropdown {
    position: fixed;
    top: 5.4rem;
    right: 2rem;
    height: auto;
    width: 28.125rem;
    padding: 2rem;
    background-color: $color-white;
    border: 1px solid $color-grey;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: $box-shadow;
    z-index: 200;
    animation: fadeInDown 0.2s;
}

.profile-dropdown-link {
    color: $color-primary-0;
}

.profile-dropdown-text {
    margin: 0;
    color: $color-grey-dark;
}