.icon-search {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    font-size: 1.5rem;
    color: $color-grey;
}

.icon-dropdown {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: $color-grey;
}

.icon-chat {
    color: $color-white;
    font-size: 2rem;
}

.icon-dollar {
    color: $color-white;
    font-size: 1.5rem;
    transition: all 0.2s;
}

.icon-minimize {
    color: $color-white;
    font-size: 1.5rem;
    transition: all 0.2s;
}

.icon-message {
    color: $color-primary-0;
    font-size: 1.5rem;
}

.icon-verified {
    color: $color-white;
    font-size: 1.25rem;
}

.icon-share {
    color: $color-primary-0;
    font-size: 1.5rem;
}