.icon-search {
    display: block;
    font-size: 1.5rem;
    color: $color-grey-dark;
}

.icon-dropdown {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: $color-grey-dark;
}

.icon-chat {
    color: $color-white;
    font-size: 2rem;
}

.icon-dollar {
    color: $color-white;
    font-size: 1.5rem;
    transition: color 0.2s;
}

.icon-minimize {
    color: $color-white;
    font-size: 1.5rem;
    transition: color 0.2s;
}

.icon-close {
    color: $color-primary-0;
    font-size: 1.5rem;
    transition: color 0.2s;
}

.icon-message {
    color: $color-primary-0;
    font-size: 1.5rem;
    transition: color 0.2s;
}

.icon-verified {
    color: $color-primary-0;
    font-size: 1.25rem;
}

.icon-share {
    color: $color-primary-0;
    font-size: 2rem;
    transition: color 0.2s;
}

.icon-circle {
    font-size: 1rem;
}

.icon-ellipsis-h {
    color: $color-primary-0;
    font-size: 1.5rem;
    transition: color 0.2s;
}

.icon-star {
    color: $color-primary-0;
    font-size: 1.5rem;
    transition: color 0.2s;
}

.icon-facebook {
    color: $color-facebook-0;
    font-size: 3.25rem;
    transition: color 0.2s;

    &--white {
        color: $color-white;
    }
}

.icon-google {
    color: $color-google-0;
    font-size: 3rem;
    transition: color 0.2s;
}

.icon-instagram {
    color: $color-instagram-0;
    font-size: 3.4rem;
    transition: color 0.2s;

    &--white {
        color: $color-white;
    }
}

.icon-notification {
    color: $color-white;
    font-size: 2rem;
    transition: color 0.2s;
}

.icon-envelope {
    color: $color-white;
    font-size: 2rem;
    transition: color 0.2s;
}

.icon-comment-alt {
    color: $color-primary-0;
    font-size: 2rem;
    transition: color 0.2s;

    &:hover {
        color: $color-primary-1;
    }
}

.icon-plus {
    color: $color-primary-0;
    font-size: 2rem;
    transition: color 0.2s;

    &:hover {
        color: $color-primary-1;
    }
}

.icon-plug {
    color: $color-grey-dark;
    font-size: 2rem;
    transition: color 0.2s;

    &:hover {
        color: $color-primary-0;
    }
}

.icon-credit-card {
    color: $color-grey-dark;
    font-size: 3rem;
}

.icon-paperclip {
    color: $color-primary-0;
    font-size: 2rem;
    transition: color 0.2s;
}

.icon-user-edit {
    color: $color-primary-0;
    font-size: 2rem;
    transition: color 0.2s;

    &:hover {
        color: $color-primary-1;
    }
}

.icon-heart {
    color: $color-primary-0;
    font-size: 2rem;
    transition: color 0.2s;

    &:hover {
        color: $color-primary-1;
    }
}

.icon-tasks {
    color: $color-white;
    font-size: 1.85rem;
    transition: color 0.2s;
}