.current-wants-box {
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid $color-grey;
    box-shadow: $box-shadow;
    background-color: $color-white;
    overflow: hidden;
}

.current-want {
    height: auto;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: rgba($color-primary-1, 0.1);
    }

    &__circle {
        margin-right: 1rem;
    }

    &__title {
        margin: 0;
        color: $color-grey-dark;
    }

    &__content {
        flex: 1;
        padding: 2rem;
    }

    &:not(:last-child) {
        border-bottom: 1px solid $color-grey;
    }
}

.current-wants-text {
    color: $color-grey-dark;
    margin: 0;
}