.chat-widget {
    position: fixed;
    right: 2.5rem;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border: 1px solid $color-primary-0;
    background-color: $color-primary-0;
    box-shadow: $box-shadow;
    outline: none;
    z-index: 100;
    transition: all 0.2s;

    &:hover {
        border: 1px solid $color-primary-2;
        background-color: $color-primary-2;
    }

    &:active {
        border: 1px solid $color-primary-3;
        background-color: $color-primary-3;
    }

    &--active {
        bottom: 2.5rem;
        animation: fadeInUp 0.2s;
        visibility: visible;
    }

    &--inactive {
        bottom: -8.5rem;
        animation: fadeOutDown 0.2s;
        visibility: hidden;
    }
}