.chat-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 2.5rem;
    height: 40rem;
    width: 34rem;
    background-color: $color-white;
    border-radius: 0.5rem;
    border: 1px solid $color-grey;
    box-shadow: $box-shadow;
    z-index: 1000;
    transition: all 0.2s;

    &--active {
        bottom: 2.5rem;
        animation: fadeInUp 0.2s;
    }

    &--inactive {
        bottom: -60rem;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        background-color: $color-primary-0;
    }

    &__name {
        color: $color-white;
    }

    &__body {
        flex: 1;
        padding: 1rem;
        overflow: scroll;
        background-color: $color-white;
    }

    &__bottom {
        display: flex;
        align-items: center;
        padding: 1rem;
        border-top: 1px solid $color-grey;
    }
}

.chat-box-textarea {
    height: 5rem;
    max-height: 10rem;
    flex: 1;
}

.chat-box-minimize-button {
    background-color: transparent;

    &:hover {
        .icon-minimize {
            color: $color-primary-2;
        }
    }

    &:active {
        .icon-minimize {
            color: $color-primary-3;
        }
    }
}

.chat-box-message-button {
    background-color: transparent;

    &:hover {
        .icon-message {
            color: $color-primary-2;
        }
    }

    &:active {
        .icon-message {
            color: $color-primary-3;
        }
    }
}