.chat-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 2.5rem;
    height: 40rem;
    width: 34rem;
    background-color: $color-white;
    border-radius: 0.5rem;
    border: 1px solid $color-grey;
    box-shadow: $box-shadow;
    z-index: 1000;
    transition: all 0.2s;

    &--active {
        bottom: 2.5rem;
        animation: fadeInUp 0.2s;
        visibility: visible;
    }

    &--inactive {
        bottom: -42.5rem;
        animation: fadeOutDown 0.2s;
        visibility: hidden;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        background-color: $color-primary-0;
    }

    &__details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        background-color: $color-primary-1;
    }

    &__body {
        flex: 1;
        padding: 1rem;
        z-index: 900;
        overflow: scroll;
        background-color: $color-white;
    }

    &__bottom {
        display: flex;
        align-items: center;
        padding: 1rem;
        border-top: 1px solid $color-grey;
    }

    &__name {
        margin: 0 0 0 1rem;
        color: $color-white;
    }

    &__subject {
        margin: 0;
        color: $color-white;
    }

    &__pay {
        margin: 0;
        color: $color-white;
    }
}

.chat-box-textarea {
    height: 5rem;
    max-height: 10rem;
    flex: 1;
}

.chat-box-input {
    width: 100%;
}