.notification-box {
    position: fixed;
    top: 5.4rem;
    right: 8rem;
    max-height: 60rem;
    width: 37.5rem;
    background-color: $color-white;
    border: 1px solid $color-grey;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: $box-shadow;
    overflow: scroll;
    z-index: 200;
    animation: fadeInDown 0.2s;
}

.notification-text {
    margin: 0;
    color: $color-grey-dark;
}