*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 62.5%;

    @include mobile {
        font-size: 56.25%;
    }
}

body {
    font-size: 1.5rem;
    font-family: 'Roboto', 'Open Sans', 'sans-serif';
    line-height: 2.25rem;
}

button {
    cursor: pointer;
}

.mainLoginInput::-webkit-input-placeholder {
    font-family: 'Roboto', 'Open Sans', 'sans-serif';
}
  
.mainLoginInput:-ms-input-placeholder {
    font-family: 'Roboto', 'Open Sans', 'sans-serif';
}

.mainLoginInput:-moz-placeholder {
    font-family: 'Roboto', 'Open Sans', 'sans-serif';
}

.mainLoginInput::-moz-placeholder {
    font-family: 'Roboto', 'Open Sans', 'sans-serif';
}

// ::-webkit-scrollbar {
//     width: 0px;  /* remove scrollbar space */
//     background: transparent;  /* optional: just make scrollbar invisible */
// }

.slick-slider,
.slick-slider * {
    outline: none;
}

.slick-track {
    display: flex;
}

.slick-initialized {
    overflow: hidden;
}

.slick-list {
    overflow: hidden;
}