h1 {
    font-size: 4.25rem;
}

h2 {
    margin: 1rem 0;
    font-size: 2.25rem;
}

h3 {
    font-weight: 300;
    margin: 1rem 0;
    font-size: 1.75rem;
}

h4 {
    font-weight: 300;
    margin: 1rem 0;
}

p {
    font-weight: 300;
    font-size: 1.5rem;
}