// COLOR SCHEME

$color-primary-0: #582A72;
$color-primary-1: #9775AA;
$color-primary-2: #764B8E;
$color-primary-3: #3D1255;
$color-primary-4: #260339;

$color-white: #fff;
$color-black: #000;

$color-grey: #BDC3C7;
$color-grey-light: #EDF0F1;
$color-grey-dark: #7F8C8D;

$color-facebook-0: #3B5998;
$color-facebook-1: #2A406D;
$color-facebook-2: #1C2B49;
$color-google-0: #DD4B39;
$color-google-1: #B23C2E;
$color-google-2: #70241C;
$color-instagram-0: #E1306C;
$color-instagram-1: #CA2B61;
$color-instagram-2: #A1224D;

$color-linkedin-0: #0077B5;
$color-linkedin-1: #006BA2;
$color-linkedin-2: #005F90;

// BOX-SHADOWS

$box-shadow: 0rem 1rem 2rem rgba($color-black, 0.1);