// COLOR SCHEME

$color-primary-0: #582A72;
$color-primary-1: #9775AA;
$color-primary-2: #764B8E;
$color-primary-3: #3D1255;
$color-primary-4: #260339;

$color-white: #fff;
$color-black: #000;

$color-grey: #bdc3c7;
$color-grey-light: #ecf0f1;
$color-grey-dark: #7f8c8d;

// BOX-SHADOWS

$box-shadow: 0rem 0.5rem 2rem rgba($color-grey, 0.1);