// COLOR SCHEME

$color-primary-0: #582A72;
$color-primary-1: #9775AA;
$color-primary-2: #764B8E;
$color-primary-3: #3D1255;
$color-primary-4: #260339;

$color-white: #fff;
$color-black: #000;

$color-grey: #BDC3C7;
$color-grey-light: #EDF0F1;
$color-grey-dark: #7F8C8D;

$color-facebook-0: #3B5998;
$color-facebook-1: #2a406d;
$color-facebook-2: #1c2b49;
$color-google-0: #dd4b39;
$color-google-1: #b23c2e;
$color-google-2: #70241c;

// BOX-SHADOWS

$box-shadow: 0rem 0.5rem 2rem rgba($color-grey, 0.1);