// COLOR SCHEME

$color-primary-0: rgb(88, 42, 114); // rgb(88, 42, 114)
$color-primary-1: rgb(151, 117, 170);
$color-primary-2: rgb(118, 75, 142);
$color-primary-3: rgb(61, 18, 85);
$color-primary-4: rgb(38, 3, 57);

$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

$color-grey: rgb(189,195,199);
$color-grey-light: rgb(237,240,241);
// $color-grey-dark: rgb(127,140,141); // TEMPORARY COLOR-GREY-DARK CHANGE
$color-grey-dark: rgb(90, 95, 96);

$color-red: rgb(231,76,60);

$color-facebook-0: rgb(59,89,152);
$color-facebook-1: rgb(42,75,109);
$color-facebook-2: rgb(42,65,110);
$color-google-0: rgb(221,75,57);
$color-google-1: rgb(178,60,46);
$color-google-2: rgb(112,36,28);
$color-instagram-0: rgb(225,48,108);
$color-instagram-1: rgb(202,43,97);
$color-instagram-2: rgb(161,34,77);

// BOX-SHADOWS

$box-shadow: 0rem 1rem 2rem rgba($color-black, 0.1);